DATABASE_URL=postgres://

# deno eval 'console.log(require("crypto").randomBytes(64).toString("hex"))'
ENCRYPTION_KEY=

FRONTEND_URL=http://localhost:5173
# where the backend is being served from
BACKEND_URL=http://localhost:300

# oauth stuff.
GITHUB_ID=
GITHUB_SECRET=
DISCORD_ID=
DISCORD_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
HCA_ID=
HCA_SECRET=
SLACK_ID=
SLACK_SECRET=
