DATABASE_URL=
# deno eval 'console.log(require("crypto").randomBytes(64).toString("hex"))'
ENCRYPTION_KEY=
FRONTEND_URL=
BACKEND_URL=
GITHUB_ID=
GITHUB_SECRET=
DISCORD_ID=
DISCORD_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
